dist
build
*.egg-info
*.npz
__pycache__
venv
docs/_build
**/Cargo.lock
**/target
**/tmp_*
**/*.so

_build/
docs/tutorials/*.ipynb
!docs/tutorials/Risk Mitigation through Price Protection in Extreme Market Conditions.ipynb
!docs/tutorials/examples.rst
